docs/n8n/radar-refresh.json
{
  "name": "RADAR Hourly Refresh",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_APP_URL }}/api/internal/refresh",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-refresh-secret",
              "value": "={{ $env.INTERNAL_REFRESH_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 120000
        }
      },
      "id": "http-refresh",
      "name": "Trigger RADAR Refresh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-failed",
              "leftValue": "={{ $json.failed }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-errors",
      "name": "Any Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log success — extend this node to send Slack/Discord notifications.\nconst result = $input.first().json;\nconsole.log(`RADAR refresh complete: ${result.refreshed} symbols refreshed at ${result.timestamp}`);\nreturn [{ json: result }];"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "// Log failure — extend this node to send Slack/Discord alert.\nconst result = $input.first().json;\nconst failedList = result.results\n  .filter(r => r.status === 'error')\n  .map(r => `${r.symbol} ${r.timeframe}: ${r.error}`)\n  .join('\\n');\nconsole.error(`RADAR refresh had ${result.failed} failures:\\n${failedList}`);\n// Re-throw to mark the execution as failed\nthrow new Error(`${result.failed} RADAR refresh failures`);"
      },
      "id": "log-failure",
      "name": "Log Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Trigger RADAR Refresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger RADAR Refresh": {
      "main": [
        [
          {
            "node": "Any Failures?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Failures?": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "notes": "## Setup\n\n**Option A** (HTTP Request) — n8n calls the Next.js `/api/internal/refresh` endpoint.\n\nRequired n8n environment variables:\n- `NEXT_APP_URL`: base URL of the Next.js app (e.g. `http://localhost:3000`)\n- `INTERNAL_REFRESH_SECRET`: must match the `INTERNAL_REFRESH_SECRET` in `.env.local`\n\n## Import\n\n1. In n8n → Workflows → Import From File → select this JSON\n2. Set environment variables in n8n Settings → Environment Variables\n3. Activate the workflow\n\n## Error handling\n\nThe 'Log Failure' Code node logs to console and throws — extend it to send\nSlack/Discord webhooks by replacing the `throw` with an HTTP Request node."
}
